
<div [formGroup]="certificatScolariteForm" class="subformulaire mb-2">
    <h5 class="text-center">Plus d'informations sur la certificat de scolarité</h5>

    <div class="my-1">
        <label for="date">Année</label>
        <input type="date" id="date" formControlName="date" class="form-control p-0"/>
    </div>


    <div class="my-1">
        <label for="lieu_de_naissance">Lieu de Naissance</label>
        <input type="text" id="lieu_de_naissance" formControlName="lieu_de_naissance" class="form-control p-0"/>
    </div>

</div>
  