
<div [formGroup]="terrainSportForm" class="subformulaire mb-2">
    <h5 class="text-center">Plus d'informations sur le terrain du sport</h5>

    <div class="my-1">
        <label for="date">date</label>
        <input type="date" id="annee" formControlName="date" class="form-control p-0" />
    </div>

    <div class="my-1">
        <label for="heure_debut">Heure Debut</label>
        <input type="time" id="heure_debut" formControlName="heure_debut" class="form-control p-0" />
    </div>

    <div class="my-1">
        <label for="heure_fin">Heure Fin</label>
        <input type="time" id="heure_fin" formControlName="heure_fin" class="form-control p-0" />
    </div>

</div>