
<div [formGroup]="conventionStageForm" class="subformulaire mb-2">
    <h5 class="text-center">Plus d'informations sur la convention de Stage</h5>

    <div class="my-1">
        <label for="date_debut">Date Debut</label>
        <input type="date" id="date_debut" formControlName="date_debut" class="form-control p-0" />
    </div>

    <div class="my-1">
        <label for="date_fin">Date Fin</label>
        <input type="date" id="date_fin" formControlName="date_fin" class="form-control p-0" />
    </div>

    <div class="my-1">
        <label for="societe">Societe</label>
        <input type="text" id="societe" formControlName="societe" class="form-control p-0"/>
    </div>


</div>