<div >
    <div class="white-box analytics-info" routerLink="/approved">
        <h3 class="box-title">Demandes Traités</h3>
        <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash2"><canvas width="67" height="30"
                        style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                </div>
            </li>
            <li class="ms-auto"><span class="counter">{{lengthApprouved}}</span></li>
        </ul>
    </div>
</div>