.counter {
    font-size: 24px;
    font-weight: 100
}
.white-box{
    background-color: gray;
    padding: 25px;
}
.white-box .box-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 18px;
}

