<div class="row my-5">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Demandes</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <form id="filterForm">
                        <select name="archive_filter" id="archive_filter" class="form-select shadow-none row border-top"
                        [(ngModel)]="selectedState" (change)="onFilterChange()">
                            <option value="" disabled selected>Filtrer</option>
                            <option value="all">Tous</option>
                            
                            <option value="Traitee">Traités</option>
                            <option value="En Cours">En Cours</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr class="text-center">
                            <th class="border-top-0">Référence</th>
                            <th class="border-top-0">statut</th>
                            <th class="border-top-0">type</th>
                            <th class="border-top-0">description</th>
                            <th class="border-top-0">niveau</th>
                            <th class="border-top-0">filiere</th>
                            <th class="border-top-0">année</th> 
                            <th class="border-top-0">View more</th>
                        </tr>
                    </thead>
                    <ng-container *ngIf="demandes && demandes.length > 0; else elseBlock">
                        <tbody *ngFor="let demande of demandes">

                            <tr class="text-center">
                                <td>{{demande.id}}</td>
                                <td>{{demande.etat}}</td>
                                <td>{{demande.type_document}}</td>
                                <td>{{demande.description}}</td>
                                <td>{{demande.niveau}}</td>
                                <td>{{demande.filiere}}</td>
                                <td>{{demande.annee}}</td>
                                <td><i class="fa fa-external-link" style="font-size: 1em;" (click)="viewMore(demande)"></i></td>
                            </tr>
                            <tr *ngIf="selectedDemande === demande && displayDetails">
                                <td colspan="8">
                                    <div class="row p-4">
                                        <div class="col-sm-12 col-md-12 col-lg-6">
                                            <h5>Informations sur l'etudiant</h5>
                                            <img [src]="" alt="image etudiant" style="float: left;">
                                            <span>
                                                <p>Code apogee:{{ currentEtudiant.code_apogee }}</p>
                                                <p>CNE : {{currentEtudiant.cne}} </p>
                                                <p>Nom : {{currentEtudiant.nom}} </p>
                                                <p>prenom : {{currentEtudiant.prenom}} </p>
                                                <p>filiere : {{demande.filiere}} </p>
                                                <p>niveau : {{demande.niveau}} </p>
                                            </span>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-6">
                                            <h5>Plus d'information sur la demande</h5>
                                            <h6>{{demande.type_document}}</h6>
                                            <span *ngFor="let infos of infosType">
                                                <ng-container *ngFor="let item of infos | keyvalue">
                                                    <p>{{ item.key }}: {{ item.value }}</p>
                                                  </ng-container>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </ng-container>
                    <ng-template #elseBlock>
                        <ng-container *ngIf="demandes === undefined && demandes === null">
                            <h1>Aucune demande trouvée</h1>
                        </ng-container>
                    </ng-template>


                </table>
            </div>
        </div>
    </div>
</div>